<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'login_system/style.css' %}">
  <title>Login To App</title>
  </head>
<body>
  
  <div class="login-container">
    <div id="sign_up_message" class="header">
      {{message}}
    </div>
    
    <h2>Login</h2>
    <form action="http://127.0.0.1:8000/login" method="post" id="login-form">
      {% csrf_token %}
      
      {{login_form}}

      <button type="submit">Login</button>
    </form>
    <p id="message" style="color: red; font-weight: bold; text-transform: capitalize;">
      {{wrong_password_message}}
    </p>
  </div>
  
  <script src="{% static 'login_system/script.js' %}"></script>
</body>
</html>
